Django==1.11
django-appconf==1.0.2
django-ckeditor==5.3.0
django-compressor==2.2
django-haystack==2.6.1
django-js-asset==0.1.1
django-location-field==2.0.3
django-robots==3.0
olefile==0.44
Pillow==4.2.1
pytz==2017.2
rcssmin==1.0.6
rjsmin==1.0.12
six==1.10.0
Whoosh==2.7.4
psycopg2
