body {
    font-size:14px;
    line-height: 1.80;
    font-family: 'Poppins', sans-serif;
    background-color:#f4f4f4;
}
section {
    padding: 4% 0%;
}
strong {
    color:#27AE61;
}
a {
    cursor:pointer;
    color:#27AE61;
}
h1{
    font-weight:300;
}
h2 {
    padding-bottom:1%;
    font-size:140%;
    font-weight:500;
}
h3 {
    color:#27AE61;
}
p {
    font-weight:300;
    font-size:80%;
}
img {
    margin-top:3%;
    margin-bottom:3%;
}
    
/*start FOOTER style */
footer {
    background-color:#27332C;
    padding:20px 50px;
    color:white;
    line-height:1.5em;
}

footer .container h1 {
    text-transform: uppercase;
    display:inline-block;
    font-size:14px;
    font-weight:700;
    margin-bottom:10%;
}

footer .container li {
    list-style: none;
    opacity:0.8;
    cursor: pointer;
    font-size:12px;
}

footer .container li:hover {
    opacity: 1;
    transition:0.3s;
}

footer .container a {
  color: white;
}

footer .container p {
    opacity:0.6;
    font-size:13px;
}

footer hr{
  width: 50%;
  height: 1px;
  color: rgba(0,0,0,0.1);
}

footer .container {

}

footer .copyright{
  padding:1% 5%;
}

footer .colomn {
    padding: 10px 30px;
    margin: 10px 0px;
}

footer .border-left{
    border-left: 0.5px solid rgba(255,255,255, 0.1);
}
/*end FOOTER style */
/*start NAVBAR style*/
.navbar-default {
    position:fixed;
    border: none;
    border-radius:0px;
    background-color:#fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    z-index:999;
}
.navbar-brand {
    font-size:10px;
}
nav img{
    margin-top: 0;
    margin-bottom: 0;
}

.nav>li>a {
    padding:17px 10px;
    font-size:10px;
    font-weight:700;
    text-transform: capitalize;
}
.navbar-default .navbar-nav>li>a {

    color: #27AE60;
    font-weight:600;
}
.navbar-default .navbar-nav>.active {
    padding:3px 10px;
}
.navbar-default .navbar-nav>.active>a {
    color:white;
    background-color:#27AE60;
    padding:12px 15px;
    border-radius:5%;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color:#27AE60;
    transition: 0.6s;
}
.navbar-default .navbar-nav>.active>a:hover {
    background-color:#f4f4f4;
    color:black;
    transition: 0.3s;
}
.navbar-brand {
    padding:5px 15px;
}

.flag {
    width:300px;
    height:200px;
    margin:50px;
}
.flag-element {
    -webkit-animation:oscill 1s ease-in-out infinite alternate;
    -moz-animation:oscill 1s ease-in-out infinite alternate;
    -ms-animation:oscill 1s ease-in-out infinite alternate;
    animation:oscill 1s ease-in-out infinite alternate;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Flag_of_Algeria.svg/2000px-Flag_of_Algeria.svg.png');
    background-size: 20px 100%;
    position:relative;
    height:100%;
    width:1px;
    display:inline-block;
    box-shadow:0 1px grey, 0 -1px gray;
}
@-webkit-keyframes oscill {
    0% {
        top: 5%;
    }
    100% {
        top: -5%;
    }
}
@-moz-keyframes oscill {
    0% {
        top: 5%;
    }
    100% {
        top: -5%;
    }
}
@-ms-keyframes oscill {
    0% {
        top: 5%;
    }
    100% {
        top: -5%;
    }
}
@keyframes oscill {
    0% {
        top: 5%;
    }
    100% {
        top: -5%;
    }
}
/*end NAVBAR style*/

/*container style*/
.article-title {
    font-weight:300;
}
/* end container style */
/*start home style*/
#home {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),url("http://www.babzman.com/wp-content/uploads/2016/04/Oran1.jpg");
    background-size:cover;
    background-attachment:fixed;
    height:94vh;
    text-align: center;
}
#home-describ {
    color:white;
    position:absolute;
    top:30vh;
    left:0;
    right:0;
    display:block;
    background-color:rgba(0, 0, 0, 0.2);
    padding:40px 0px;
}
#home-describ h1 {
    font-weight:100;
}

#home-describ p {
    opacity:0.8;
}
#home-describ i {
    color:#27AE61;
    position:absolute;
    top:50vh;
    left:47vw;
    font-size:200%;
    text-align: center;
}
/*end HOME style*/
/*start HOME ABOUT style*/
#sidi-houari-home-about {
    background-color:white;
    background-image:url("/static/img/hi2.png");
    background-position: 10% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
#sidi-houari-home-about h1 {
    font-size:300%;
    font-weight:300;
    color:#27AE61;
    margin-bottom:5%;
}
.event-sign {
    color:#CF000F;
    font-size:120%;
    
}
/*end of HOME ABOUT style*/
/*start ASSOCIATION about */
#association-home-about {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),url("/static/img/background2.jpg");
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    color: white;
    font-size:100%;
    line-height:2em
}
#association-home-about h1 {
    font-weight:300;
}
#contact {
    background-color:#fff;
}

/*end ASSOCIATION about*/
/*start CV HEADER style*/
.top-title{
  background-size: cover;
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),url("http://www.babzman.com/wp-content/uploads/2016/04/Oran1.jpg");
  background-attachment: fixed;
  height: 50vh;
  padding: 7%;
}
.top-title-text p{
    font-size: 100%;
    opacity:0.8;
}
.top-title-text h1 {
    font-size:280%;
}
.top-title-text{
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
/*start PARTNERS about*/

/*end PARTNERS about*/

/*end CV HEADER style*/
/*start ERROR style*/
.error-number {
    font-size:800%;
}
.error-text {
    font-weight:700;
}
/*end ERROR style*/
@media(max-width:767px){
    p {
        font-size:80%;
    }
    #home-describ {
        top:25vh;
    }
    #home-describ h1 {
        font-size:200%;
    }
    #sidi-houari-home-about h1 {
        font-size:200%;
    }
    #sidi-houari-home-about {
        text-align:center;
    }
    #sidi-houari-home-about img {
        margin-bottom:2%;
    }
    #association-home-about {
        font-size:80%;
    }
    .cv-cover{
        height: 50vh;
    }
    .cv-text p{
        font-size: 60%;
    }
    .cv-text h1 {
        font-size:130%;
    }
    .main-about-content{
        text-align: center;
    }

}
@media(min-width:768px){
    p {
        font-size:70%;
    }

    #home-describ h1 {
        font-size:300%;
    }
    #sidi-houari-home-about h1 {
        font-size:180%;
    }

    #sidi-houari-home-about img {

        margin-bottom:1%;
    }
    #association-home-about {
        font-size:80%;
    }
}
@media(min-width:992px){
    p {
        font-size:90%;
    }
    #home-describ {
        top:30vh;
    }
    #home-describ h1 {
        font-size:400%;
    }
    #sidi-houari-home-about h1 {
        font-size:300%;
    }
    #sidi-houari-home-about {
        text-align:left;
    }

    #sidi-houari-home-about img {

        margin-bottom:2%;
    }
    #association-home-about {
        font-size:100%;
    }
}
@media(min-width:1200px){
    
    p {
        font-size:100%;
    }
     #home-describ h1 {
        font-size:500%;
    }
}
