{% extends 'base.html' %} {% block content %}

<main class="padding-top container">
  <!--SEARCH BAR-->
  <form action="search" method="get">
    <div class="row">
      <div class="form-group col-sm-offset-3 col-sm-4">
        <input name="query" type="text" class="form-control" placeholder="Search ">
      </div>
      <div class="form-group col-sm-2">
        <button class="btn btn-default btn-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
      </div>
    </div>
  </form>
  <!--END SEARCH BAR-->
  <section>
    <!--ARTICLES SIDE-->
    <div class="container">
      <div class="col-sm-9">
        {% for post in posts %}
            <div class="panel panel-default article-element">
              <div class="panel-body">
                <div class="row">
                  {% if post.images_set.all %}
                  <div class="col-sm-3">
                    <a href="{{ post.get_absolute_url }}">
                      {% with post.images_set.all|first as image %}
                        <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" class="img-responsive">
                        {% endwith %}
                    </a>
                  </div>
                  {% endif %}
                  <div class="col-sm-9">
                    <h3 class="element-title h4">
                      <a href="{{ post.get_absolute_url }}"> {{ post.title }}</a>
                    </h3>
                    <p>{{post.categorie}}</p>
                    <p class="element-description">
                    {{post.description}}
                    </p>
                    <div class="element-footer">
                      Posted by <a href="/profile">{{post.author.firstname}}</a> on {{post.posted}}
                  </div>
                </div>

              </div>
            </div>
         </div>
         {% empty%}
         <div class="text-center">
           <h2>Sorry!</h2>
           <p>We couldn't find any results for your query</p>
         </div>
        {% endfor %}
      </div>
    <!--ARTICLES SIDE-->
    <!--LIST SIDE-->
    <div class="list col-sm-3 col-xs-12">
      <div class="conatainer">
        <h4 class="h5">Filter by category:</h4>
        <ul class="list-unstyled">
          <li><a href="#">Category1</a></li>
          <li><a href="#">Category1</a></li>
          <li><a href="#">Category1</a></li>
        </ul>
        <hr>
        <h4 class="h5">Filter by document source:</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">Items in the archive (998,635)</a>
          </li>
          <li>
            <a href="#">Articles from our experts (125) </a>
          </li>
        </ul>
      </div>
    </div>
    <!--LIST SIDE-->
    </div>
  </section>
</main>
<br>
<br>
{% endblock %}
