{% extends "base.html"%}

{% block content %}
<main class="padding-top">
    <section class="profile container">
      
        
        <div class="article-cover">
          <div class="article-header">
            <h2>Today i'm going to teach you how to become Reda Mohamed Loukil and going to be hero for the rest of my life </h2>
            <p class="article-date green">20/04/1995</p>
            <div class="owl-carousel">
                <div class="item">
                  <img src="https://unsplash.it/1001/300" alt="">
                </div>
                <div class="item">
                  <img src="https://unsplash.it/1002/300" alt="">
                </div>
                <div class="item">
                  <img src="https://unsplash.it/1000/300" alt="">
                </div>
                <div class="item">
                  <img src="https://unsplash.it/1003/300" alt="">
                </div>
                <div class="item">
                  <img src="http://i-like-robots.github.io/EasyZoom/example-images/3_zoom_1.jpg" alt="">
                </div>
            </div>
        </div>
          
          <hr align="center">
          <div class="text-center cover-actions">
            <p>This document contains 12 files</p>
            <a href="#" class="btn btn-default">  <span class="glyphicon glyphicon-download-alt"></span> Download files</a>
            <a href="#sharer" class="btn btn-default">  <span class="glyphicon glyphicon-share"></span> Share this page</a>
          </div>
          <hr align="center">
        </div>

        <div class="clearfix"></div>
        <div class="article-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium recusandae aperiam ipsam illum fuga laboriosam, itaque, quos molestias! Amet, excepturi, asperiores! Voluptas similique cumque, nam commodi tempore architecto iste!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium recusandae aperiam ipsam illum fuga laboriosam, itaque, quos molestias! Amet, excepturi, asperiores! Voluptas similique cumque, nam commodi tempore architecto iste!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium recusandae aperiam ipsam illum fuga laboriosam, itaque, quos molestias! Amet, excepturi, asperiores! Voluptas similique cumque, nam commodi tempore architecto iste!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium recusandae aperiam ipsam illum fuga laboriosam, itaque, quos molestias! Amet, excepturi, asperiores! Voluptas similique cumque, nam commodi tempore architecto iste!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium recusandae aperiam ipsam illum fuga laboriosam, itaque, quos molestias! Amet, excepturi, asperiores! Voluptas similique cumque, nam commodi tempore architecto iste!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium recusandae aperiam ipsam illum fuga laboriosam, itaque, quos molestias! Amet, excepturi, asperiores! Voluptas similique cumque, nam commodi tempore architecto iste!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium recusandae aperiam ipsam illum fuga laboriosam, itaque, quos molestias! Amet, excepturi, asperiores! Voluptas similique cumque, nam commodi tempore architecto iste!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium recusandae aperiam ipsam illum fuga laboriosam, itaque, quos molestias! Amet, excepturi, asperiores! Voluptas similique cumque, nam commodi tempore architecto iste!
          </p>
        </div>
        <hr>
        <h4>Full Citation</h4>
        <p>
          House Journal of the First Session of the First Congress; 8/21/1789; Journal of the House of Representatives, 3/4/1789 - 2000; Records of the U.S. House of Representatives, Record Group 233; National Archives Building, Washington, DC. [Online Version, https://www.docsteach.org/documents/document/1-house-journal-of-the-first-session-of-the-first-congress, June 14, 2017]
        </p>
        
      </div>
        
    </section>
</main>
{% endblock %}