{% extends 'base.html' %} {% block content %}

<main class="padding-top container">
  <!--SEARCH BAR-->
  <form action="index.html" method="post">
    <div class="row">
      <div class="form-group col-sm-offset-3 col-sm-4">
        <input type="text" class="form-control" placeholder="Search ">
      </div>
      <div class="form-group col-sm-2">
        <button class="btn btn-default btn-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
      </div>
    </div>
  </form>
  <!--END SEARCH BAR-->
  <section>
    <!--ARTICLES SIDE-->
    <div class="container">
      <div class="col-sm-9">
        {% for post in posts %} 
          {% if post.published %}
            <div class="panel panel-default article-element">
              <div class="panel-body">
                <div class="row">
                  {% for image in images %} 
                  {% if image.post.id == post.id %}
                  <div class="col-sm-3">
                    <a href="{{ post.get_absolute_url }}">
                        <img src="{{ image.image.url }}" alt="" class="img-responsive">
                    </a>
                  </div>
                  {% endif %} {% endfor %}
                  <div class="col-sm-9">
                    <h3 class="element-title h4">
                      <a href="{{ post.get_absolute_url }}"> {{ post.title }}</a>
                    </h3>
                    <p>{{post.categorie}}</p>
                    <p class="element-description">
                    {{post.description}}
                    </p>
                    <div class="element-footer">
                      Posted by <a href="#">{{post.author.firstname}}</a> on {{post.posted}}
                  </div>
                </div>
                
              </div>
            </div>
         </div>
         {% endif %} {% endfor %}
      </div>
    <!--ARTICLES SIDE-->
    <!--LIST SIDE-->
    <div class="list col-sm-3 col-xs-12">
      <div class="conatainer">
        <h4 class="h5">Filter by category:</h4>
        <ul class="list-unstyled">
          <li><a href="#">Category1</a></li>
          <li><a href="#">Category1</a></li>
          <li><a href="#">Category1</a></li>
        </ul>
        <hr>
        <h4 class="h5">Filter by document source:</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">Items in the archive (998,635)</a>
          </li>
          <li>
            <a href="#">Articles from our experts (125) </a>
          </li>
        </ul>
      </div>
    </div>
    <!--LIST SIDE-->
    </div>
  </section>
</main>
<br>
<br> 
{% endblock %}
