{% load staticfiles %}
{% load compress %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title%}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://logopond.com/logos/c41e886bf46fb87c62d17374c41d6f74.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.green.min.css">
        {% compress css %}
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
        <link href="{% static 'css/articles-style.css'%}" rel="stylesheet">
        {% if LANGUAGE_CODE == 'ar' %}
        <link href="{% static 'css/rtl.css'%}" rel="stylesheet">
        {% endif%}
        {% endcompress %}
        {% block meta %}
        {% endblock %}
    </head>
    <body>

        {% include 'components/navbar.html' %}
        {% block content %}
        {% endblock %}
        {% include 'components/footer.html' %}
            <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
        {% compress js %}
            <script src="{% static "js/index.js" %}"></script>
            <script src="{% static "js/owl.carousel2.thumbs.min.js"%}"></script>
        {% endcompress %}
        {% include 'components/google-analytics.html' %}

    </body>
</html>
