{% extends 'base.html' %}

{% block content %}
    <main>

            <section id="home">

                    <div id="home-describ">
                        <h1>Sid Al-Houari Foundation</h1>
                        <p>Lorem ipsum dolor sit amet <strong>consectetur lorem</strong> ipsum dolor sit amet, consectetur consectetur lorem ipsum dolor sit amet, consectetur</p>
                        <a class="jump-to" href="#sidi-houari-home-about"><i class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></i></a>
                    </div>
            </section>
            <section id="sidi-houari-home-about">
                    <div class="container">
                        <div class="text-center">
                            <h1>What do you Know About Sid Al-Houari ?</h1>

                        </div>
                        <div class="row">
                            <img class="col-sm-5 img-responsive home-abt-img" src="http://www.aeroport-carcassonne.com/sites/default/files/oran-1.jpg" alt="">
                            <div class="col-sm-7">
                                <h2>Who is sid al houari ? </h2>
                                <p/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perferendis, magnam reprehenderit nemo fugit neque ipsam laboriconsectetur adipisicing elit. Ratione perferendis, magnam reprehenderit nemo fugit neque ipsam labori  magnam reprehenderit nemo fugit neque ipsam labori osam eaque vitae incidunt  magnam reprehenderit nemo fugit neque ipsam labori atque. Incidunt officia, praesentium soluta excepturi non obcaecati placeat maxime. Consectetur adipisci, dolor sit amet, consectetur adipisicing elit. Consectetur adipisci molestias magni perspiciatis magnam fugiat fugit, maxime nihil! Vero, nam! Consectetur adipisci dolor sit amet, consectetur adipisicing elit. Consectetur adipisci dolor sit amet, consectetur adipisicing elit.</p></div>
                            </div>
                        <br>

                        <div class="row">
                            <div class="col-sm-7">
                                <h2>Who is sid al houari ? </h2>
                                <p/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perferendis, magnam reprehenderit nemo fugit neque ipsam laboriconsectetur adipisicing elit. Ratione perferendis, magnam reprehenderit nemo fugit neque ipsam labori  magnam reprehenderit nemo fugit neque ipsam labori osam eaque vitae incidunt  magnam reprehenderit nemo fugit neque ipsam labori atque. Incidunt officia, praesentium soluta excepturi non obcaecati placeat maxime. Consectetur adipisci, dolor sit amet, consectetur adipisicing elit. Consectetur adipisci molestias magni perspiciatis magnam fugiat fugit, maxime nihil! Vero, nam! Consectetur adipisci dolor sit amet, consectetur adipisicing elit. Consectetur adipisci dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                            <img class="col-sm-5 img-responsive home-abt-img" src="https://s-media-cache-ak0.pinimg.com/736x/7d/2c/a3/7d2ca308fa9f56f384d852063e936787.jpg" alt="">
                        </div>
                        <br>
                        <div class="text-center">
                            <a class="index" href="{% url "about" %}">Know more</a>
                        </div>
                        <br>

                    </div>
            </section>
            <!--end HOME-->
            <section id="association-home-about">
                <div class="container">
                    <div class="text-center">
                        <h1>Random Association</h1>
                        <p>Lorem ipsum <strong>dolor sit</strong> amet, eum tempore maiores quo sunt quod,cupiditate incidunt quod recusandae. Error temporibus eos dolores nemo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, in totam cum natus dignissimos tempore eaque et vero ipsa animi obcaecati .</p>
                        <img class="img-circle" src="http://via.placeholder.com/200x200" alt="">
                        
                    </div>
                    <!--<div class="col-md-6">
                        <img src="https://jalakputihdotcom.files.wordpress.com/2014/12/20694-gambar2basosiasi.jpg" alt="" width="450" height="350">
                    </div>-->
                </div>
            </section>
            <section id="contact">
                <div class="container">
                    <div class="text-center">
                        <h1>Stay in Contact</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis maxime non impedit suscipit laborum, adipisci tempora qui, numquam quisquam vitae dignissimos repudiandae quis! Nesciunt provident dicta temporibus aut! Necessitatibus, fuga?</p>
                        <br>
                        <P>Foundation Email : Sidlhouari@gmail.com</p>
                        <p>Foundation Adress : 53,Hamri Barça,Oran,Algeria</p>
                        <div class="text-center">
                            <a class="index" href="{% url "contact_us" %}">Contact our Foundation</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="our-sponsors">
                <div class="container text-center">
                    <div class="col-md-3 col-xs-6">
                        <img src="http://cdn.liberte-algerie.com/images/article/thumbs/d-djezzy-organise-une-ceremonie-en-lhonneur-des-enfants-circoncis-et-honore-ses-retraites-7bc38.jpg" alt="" height="100" width="100">
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <img src="http://www.hb-technologies.com.dz/images/djmediatools/31.jpg" alt="" height="100" width="100">
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <img src="http://proscom-tn.com/wp-content/uploads/2015/08/ooredoo1.png" alt="" height="100" width="100">
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Sonatrach.svg/langfr-280px-Sonatrach.svg.png" alt="" height="100" width="100">
                    </div>
                </div>
            </section>
        </main>
{% endblock %}
