{% extends 'base.html' %}

{% block content %}
    <main>
            {% for sef in data %}
            <section id="home">
                
                <div id="home-describ">
                    <h1>{{ sef.foundation_name }}</h1>
                    <p>{{ sef.description}}</p>
                    <a class="jump-to" href="#sidi-houari-home-about"><i class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></i></a>
                </div> 
            </section>
            <section id="sidi-houari-home-about">
                    <div class="container">
                        <div class="text-center">
                            <h1>What do you Know About Sid Al-Houari ?</h1>

                        </div>
                        <div class="row">
                            <img class="col-sm-5 img-responsive home-abt-img" src="http://www.aeroport-carcassonne.com/sites/default/files/oran-1.jpg" alt="">
                            <div class="col-sm-7">
                                <h2>Who is sid al houari ? </h2>
                                <p/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perferendis, magnam reprehenderit nemo fugit neque ipsam laboriconsectetur adipisicing elit. Ratione perferendis, magnam reprehenderit nemo fugit neque ipsam labori  magnam reprehenderit nemo fugit neque ipsam labori osam eaque vitae incidunt  magnam reprehenderit nemo fugit neque ipsam labori atque. Incidunt officia, praesentium soluta excepturi non obcaecati placeat maxime. Consectetur adipisci, dolor sit amet, consectetur adipisicing elit. Consectetur adipisci molestias magni perspiciatis magnam fugiat fugit, maxime nihil! Vero, nam! Consectetur adipisci dolor sit amet, consectetur adipisicing elit. Consectetur adipisci dolor sit amet, consectetur adipisicing elit.</p></div>
                            </div>
                        <br>

                        <div class="row">
                            <div class="col-sm-7">
                                <h2>Who is sid al houari ? </h2>
                                <p/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perferendis, magnam reprehenderit nemo fugit neque ipsam laboriconsectetur adipisicing elit. Ratione perferendis, magnam reprehenderit nemo fugit neque ipsam labori  magnam reprehenderit nemo fugit neque ipsam labori osam eaque vitae incidunt  magnam reprehenderit nemo fugit neque ipsam labori atque. Incidunt officia, praesentium soluta excepturi non obcaecati placeat maxime. Consectetur adipisci, dolor sit amet, consectetur adipisicing elit. Consectetur adipisci molestias magni perspiciatis magnam fugiat fugit, maxime nihil! Vero, nam! Consectetur adipisci dolor sit amet, consectetur adipisicing elit. Consectetur adipisci dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                            <img class="col-sm-5 img-responsive home-abt-img" src="https://s-media-cache-ak0.pinimg.com/736x/7d/2c/a3/7d2ca308fa9f56f384d852063e936787.jpg" alt="">
                        </div>
                        <br>
                        <div class="text-center">
                            <a class="index" href="{% url "about" %}">Know more</a>
                        </div>
                        <br>

                    </div>
            </section>
            <!--end HOME-->
            <section id="association-home-about">
                <div class="container">
                    <div class="text-center">
                        <h1>{{ sef.foundation_name}}</h1>
                        <p>{{ sef.description }}</p>
                        <img class="text-center" src="{{ sef.logo.url }}" alt="" height="200" width="200">
                        
                    </div>
                    <!--<div class="col-md-6">
                        <img src="https://jalakputihdotcom.files.wordpress.com/2014/12/20694-gambar2basosiasi.jpg" alt="" width="450" height="350">
                    </div>-->
                </div>
            </section>
            <section id="contact">
                <div class="container">
                    <div class="text-center">
                        <h3>Stay in Contact</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis maxime non impedit suscipit laborum, adipisci tempora qui, numquam quisquam vitae dignissimos repudiandae quis! Nesciunt provident dicta temporibus aut! Necessitatibus, fuga?</p>
                        <br>
                        <P>Foundation Email : {{ sef.foundation_gmail }}</p>
                        <p>Foundation Adress : {{ sef.foundation_address }}</p>
                        <p>Foundation location : {{ sef.foundation_location }}</p>
                        <div class="text-center">
                            <a class="index" href="{% url "contact_us" %}">Contact our Foundation</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="our-sponsors">
                <h3 class="text-center">OUR SPONSORS</h3>
                {% for sponsor in sponsors %}
                    <div class="row ">
                        {% if sponsor.image %}
                            <div class="text-center col-sm-4 col-sm-offset-2">   
                                <img src="{{ sponsor.image.url }}" alt="{{ sponsor.alt_text }}" class="img-responsive" width="100" height="100">   
                            </div>
                        {% else %}
                            <div class="col-sm-6">
                                <img src="/static/img/no-img.png" alt="{{ sponsor.alt_text }}" class="img-responsive">
                            </div>
                        {% endif %} 
                        {% empty %}
                        <div class="col-sm 12">
                            <p class="text-center">We don't have Sponsors yet</p>
                        </div>
                    </div>
                {% endfor %}                
            </section>
            {% endfor %}
        </main>
{% endblock %}
