{% extends 'base.html' %}

{% block content %}
<div class="padding-top container">
    <div class="container col-sm-12  profile">
      <div class="row">
          <div class="col-sm-4">
            <img src="{{ user.image.url }}" class="img-responsive ">
        </div>
        <div class="col-sm-8 container">
        <br>
        <h1 class="text-center h4">{{ user.get_full_name }}</h1>
        <br>
                <table class="table">
                <tbody>
                    <tr>
                    <th scope="row">
                        <td>EMAIL:</td>
                    </th>
                    <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                    <th scope="row">
                        <td>SPECIALITE:</td>
                    </th>
                    <td>{{ user.speciality }}</td>
                    </tr>
                    <tr>
                    <th scope="row">
                        <td>GRADE:</td>
                    </th>
                    <td>{{ user.grad }}</td>
                    </tr>
                    <tr>
                    <th scope="row">
                        <td>PHONE:</td>
                    </th>
                    <td>{{ user.phone_number }}</td>
                    </tr>
                    <tr>
                    <th scope="row">
                        <td>TYPE:</td>
                    </th>
                    <td>{{ user.account_type }}</td>
                    </tr>
                    <tr>
                    <th scope="row">
                        <td></td>
                    </th>
                    <td></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="container ">
    <div class="text-center margin profile-describ">
        <h3>Biographie</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
         <a href="{{ user.cv }}" download="cv.pdf">Télécharger le fichier (.pdf)</a>
    </div>
    <div class="profile-describ" id="portfolio">
    <div class="row">
      <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                  <i class="fa fa-link fa-3x"></i>
              </div>
          </div>
          <img src="https://unsplash.it/1100" class="img-responsive portfolio-image" alt=""></a>
          <div class="portfolio-caption">
            <h4>Round Icons</h4>
          </div>
      </div>

      <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                  <i class="fa fa-link fa-3x"></i>
              </div>
          </div>
          <img src="https://unsplash.it/1100" class="img-responsive portfolio-image" alt=""></a>
          <div class="portfolio-caption">
            <h4>Round Icons</h4>
          </div>
      </div>

      <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                  <i class="fa fa-link fa-3x"></i>
              </div>
          </div>
          <img src="https://unsplash.it/1100" class="img-responsive portfolio-image" alt=""></a>
          <div class="portfolio-caption">
            <h4>Round Icons</h4>
          </div>
      </div>

      <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                  <i class="fa fa-link fa-3x"></i>
              </div>
          </div>
          <img src="https://unsplash.it/1100" class="img-responsive portfolio-image" alt=""></a>
          <div class="portfolio-caption">
            <h4>Round Icons</h4>
          </div>
      </div>

      <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                  <i class="fa fa-link fa-3x"></i>
              </div>
          </div>
          <img src="https://unsplash.it/1100" class="img-responsive portfolio-image" alt=""></a>
          <div class="portfolio-caption">
            <h4>Round Icons</h4>
          </div>
      </div>

      <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                  <i class="fa fa-link fa-3x"></i>
              </div>
          </div>
          <img src="https://unsplash.it/1100" class="img-responsive portfolio-image" alt=""></a>
          <div class="portfolio-caption">
            <h4>Round Icons</h4>
          </div>
      </div>

    </div>
 </div>

</div>






{% endblock %}
