{% extends 'base.html' %}

{% block content %}
<main>
    
        <section class="top-title text-center">
        <div class="top-title-text">
          <h1>
            Suscribe in our Community and stay in touch
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur <strong>adipisicing elit</strong>. Molestiae ipsa, assumenda amet illum aliquid animi dignissimos eius harum repudiandae qui voluptatibus illo fuga accusantium,repudiandae rem.
          </p>
        </div>
    </section>
    
    <section class="profile container">
        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reprehenderit quisquam sunt pariatur, assumenda velit nesciunt ipsa quis. Ipsa aut, accusantium provident aliquam fugiat nesciunt ullam sunt totam eius minima.</p>
            
            <form class="col-sm-offset-2 col-sm-8">
                <h2>Register Form</h2>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">First name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Last Name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Address</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Profession</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm password</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>     
            </form>
            
        
    </section>    
</main>
{% endblock %}