{% load i18n %}
<footer>
            <div class="container">
                <div class="row content">
                    <div class="col-sm-3 colomn">
                        <h1>{% trans 'About'%}</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet tenetur quos quisquam velit repellendus animi iste amet Eveniet tenetur quos quisquam velit repellendus animi iste amet Eveniet tenetur quos quisquam velit</p>
                    </div>
                    <div class="col-sm-3 colomn border-left">
                        <h1>{% trans 'know more' %}</h1>
                            <li><a href="/about">{% trans 'About Sidi El Houari' %}</a></li>
                            <br>
                            <li>{% trans 'The Foundation' %}</li>
                            <br>
                            <li><a href="/privacy">{% trans 'Privacy policy' %}</a></li>
                            <br>
                            <li><a href="/contact">{% trans 'Contact us' %}</a></li>
                            <br>
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-3 colomn border-left">
                        <h1>{% trans 'Contact' %}</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <li><strong>{% trans 'Email:' %} </strong>abc@gmail.com</li>
                        <li><strong>{% trans 'Adress:' %} </strong>53 &rlm;,cité les castors&rlm;, Oran</li>
                        <li><strong>{% trans 'Chaine Nationale:' %} </strong><a href="http://entv.dz/" target="_blank">ENTV</a></li>
                        <li><strong>{% trans 'Radio Oran:' %} </strong><a href="http://www.radioalgerie.dz/player/ar/live/31-Oran" target="_blank">{% trans 'El Bahia' %} (92.7 FM)</li>
                    </div>

                    <div class="col-sm-3 colomn border-left">
                        <img class="img-responsive" src="https://logopond.com/logos/c41e886bf46fb87c62d17374c41d6f74.png" alt="{% trans 'Sidi El Houari foundation' %}">
                    </div>
                </div>
                <hr>
                <p class="copyright text-center">
                    Copyright &copy; 2017 - Sidi el Houari Association N° 45457577
                </p>
            </div>
</footer>
