{% load i18n %}
<footer>
            <div class="container">
                <div class="row content">
                    <div class="col-sm-3 colomn">
                        <h1>{% trans 'About'%}</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet tenetur quos quisquam velit repellendus animi iste amet Eveniet tenetur quos quisquam velit repellendus animi iste amet Eveniet tenetur quos quisquam velit</p>
                    </div>
                    <div class="col-sm-3 colomn border-left">
                        <h1>{% trans 'know more' %}</h1>
                            <p><a href="/about">{% trans 'About Sidi El Houari' %}</a></p>
                            <p>{% trans 'The Foundation' %}</p>
                            <p><a href="/privacy">{% trans 'Privacy policy' %}</a></p>
                            <p><a href="/contact">{% trans 'Contact us' %}</a></p>
                            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                              <input name="next" type="hidden" value="{{ redirect_to }}" />
                              <select name="language"
                                      onchange="this.form.submit()"
                                      title="{% trans 'Change language'%}"
                                      id="change-lang">
                                  {% get_current_language as LANGUAGE_CODE %}
                                  {% get_available_languages as LANGUAGES %}
                                  {% get_language_info_list for LANGUAGES as languages %}
                                  <option disabled>{% trans 'Change website language' %}</option>
                                  {% for language in languages %}
                                      <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                          {{ language.name_local }}
                                      </option>
                                  {% endfor %}
                              </select>
                          </form>
                    </div>
                    <div class="col-sm-3 colomn border-left footer-contact">
                        <h1>{% trans 'Contact' %}</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p><strong>{% trans 'Email:' %} </strong>abc@gmail.com</p>
                        <p><strong>{% trans 'Adress:' %} </strong>53 &rlm;,cité les castors&rlm;, Oran</p>
                        <p><strong>{% trans 'Chaine Nationale:' %} </strong><a href="http://entv.dz/" target="_blank">ENTV</a></p>
                        <p><strong>{% trans 'Radio Oran:' %} </strong><a href="http://www.radioalgerie.dz/player/ar/live/31-Oran" target="_blank">{% trans 'El Bahia' %} (92.7 FM)</a></p>
                    </div>

                    <div class="col-sm-3 colomn border-left">
                        <img class="img-responsive" src="https://logopond.com/logos/c41e886bf46fb87c62d17374c41d6f74.png" alt="{% trans 'Sidi El Houari foundation' %}">
                    </div>
                </div>
                <hr>
                <p class="copyright text-center">
                    Copyright &copy; 2017 - Sidi el Houari Association N° 45457577
                </p>
            </div>
</footer>
