{% load i18n %}
<nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                <a href="{% url "home" %}"><img class="navbar-brand" src="https://logopond.com/logos/c41e886bf46fb87c62d17374c41d6f74.png" alt=""></a>
                <!--<a class="navbar-brand" href="#">Lorem ipsum <strong>dolor sit</strong> amet, consectetur.</a>-->

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url "profile" request.user.id%}">
                                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                                {{ request.user.first_name}}
                            </a>
                        </li>
                        <li>
                            <a href="/admin">
                                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                Create
                            </a>
                        </li>
                        <li>
                            <a href="/admin/logout">
                                <i class="glyphicon glyphicon-off" aria-hidden="true"></i>
                                {% trans 'Logout' %}
                            </a>
                        </li>
                    {% else %}
                        <li>

                            <a href="/admin">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {% trans 'Login' %}
                            </a>
                        </li>
                        <li>

                            <a href="{% url "register" %}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {% trans 'Register' %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{% url "about" %}">{% trans 'Sidi El Houari'%}</a></li>
                    <li><a href="{% url "articles" %}">{% trans 'Articles' %}<span class="sr-only"></span></a></li>
                    <li>  
                        <a href="{% url "events" %}">
                            <span class="glyphicon glyphicon-info-sign event-sign" aria-hidden="true"></span>
                            {% trans 'Events' %}<span class="sr-only"></span>
                        </a>
                    </li>                    
                </ul>
            </div><!-- /.navbar-collapse -->
               
            </div><!-- /.container-fluid -->
        </nav>
