{% extends 'base.html' %} {% block content %}
<div class="padding-top container">
    <div class="container col-sm-12  profile">
        <div class="row">
            <div class="col-sm-4">
                <img src="{% if user.image %} {{ user.image.url }} {% else %} {{ user.get_gavatar }} {% endif %}"
                class="img-responsive" alt="{{ user.get_full_name }} profile picture">
            </div>
            <div class="col-sm-8 container">
                <br>
                <h1 class="text-center h4">{{ user.get_full_name }}</h1>
                <br>
                <table class="table">
                    <tbody>
                        <div class="container">
                            <tr>
                                <th scope="row">
                                    <td>Name:</td>
                                </th>
                                <td>{{ user.first_name }} {{user.last_name}}</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <td>EMAIL:</td>
                                </th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <td>SPECIALITE:</td>
                                </th>
                                <td>{{ user.speciality }}</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <td>PHONE:</td>
                                </th>
                                <td>{{ user.phone_number }}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="container ">
    <div class="text-center margin profile-describ">
        <h3>Biographie</h3>
        {% if user.career_describ %}
          <p>{{ user.career_describ }}</p>
        {% endif %}

        {% if user.cv %}
        <a href="{{ user.cv.url }}" download="{{user.get_full_name}}.cv.pdf">Télécharger le fichier (.pdf)</a>
        {% endif %}
    </div>
    <div class="profile-describ" id="portfolio">
        <h3 class="text-center">Latest articles</h3>
        <div class="row">
            {% for post in user.article_set.all|slice:":6"%} {% if post.images_set.all %}
            <div class="col-sm-3">
                <a href="{{ post.get_absolute_url }}">
                    {% with post.images_set.all|first as image %}
                    <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" class="img-responsive"> {% endwith %}
                </a>
            </div>
            {% else %}
            <div class="col-sm-3">
                <a href="{{ post.get_absolute_url }}">
                    <img src="/static/img/no-img.png" alt="{{ post.title }}" class="img-responsive">
                </a>
            </div>
            {% endif %} {% empty %}
            <div class="col-sm 12">
                <p class="text-center">This user didn't publish any article yet</p>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
